<!DOCTYPE html>
<html lang="en">
<head>
   @await Html.PartialAsync("Partial/MetatagsPartial") 
   @await Html.PartialAsync("Partial/CssPartial")
</head>
<body>
    @await Html.PartialAsync("Partial/HeaderPartial")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("Partial/FooterPartial")
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>