<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>Movie App</title>
}
